<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" media="all" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" />
  <link rel="stylesheet" media="all" href="/css/style.css" />
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
  <script src="/scripts/lib/browser.js"></script>
  <script src="/scripts/utils.js"></script>
  <script src="/scripts/provider.js"></script>
  <title>test</title>
</head>
<body>
  <div class="l-wrapper">
    <div class="l-header">
      <div class="inner">
        <h2>報われるべきこの世界</h2>
      </div>
    </div>

    <main class="l-main">
      <div class="l-block u-mt-10">
        <h1 class="block-heading inner u-pb-0">
          <span id="js-preschool-name">${preschool_name}</span>の保育士一覧
        </h1>
        <div class="body">
          <div class="cassettes" id="js-childminders"></div>
        </div>
      </div>
    </main>
  </div>

  <div class="l-global-loading" id="global-loading">
    <div class="background">
      <div class="loftloader-wrapper pl-circles">
        <div class="loader">
          <span></span>
        </div>
      </div>
    </div>
  </div>

  <script id="js-childminder-template" type="text/template">
    <% _.each(data, function(item) { %>
      <a class="m-cassette" href="<%- 'http://' + location.host + '/send_to_childminder?childminder_address=' + item %>">
        <div class="inner">
          <div class="u-table">
            <div class="info">
              <div class="lead"><%- item %></div>
            </div>
          </div>
        </div>
      </a>
    <% }); %>
  </script>

  <script>
    (function(){
      // setting
      var preschoolId = Number(utils.urlParams()['preschool_id']);
      var preschoolIds = [];
      var preschoolNames = [];

      // ダミーの保育士さん配列
      var childmindersByPreschoolId = [
        'AecaeSEBkt5GcBCxwz1F41TvdjX3dnKBkJ',
        'AQvZMDecMoCi2y4V6QKdJBtHW1eV7Vbaof',
        'ASA4WmuuqFx63zmBsXiEF1N3pCz9cTCgsU'
      ];

      // init
      utils.loadingOn();

      var showPreschoolIdsObj = {
        contract: CONTRACT_ADDRESS,
        method: 'ShowPreschoolIds',
        gasPrice: 500,
        gasLimit: 30000
      };

      var showPreschoolNamesObj = {
        contract: CONTRACT_ADDRESS,
        method: 'ShowPreschoolNames',
        gasPrice: 500,
        gasLimit: 30000
      };

      client.api.smartContract.invoke(showPreschoolIdsObj)
        .then(function(res) {
          utils.loadingOff();
          console.log('ShowPreschoolIds');
          console.log(res);

          _.each(res.result[0], function(item) {
            preschoolIds.push(parseInt(item));
          });

          var preschoolIdIndex = preschoolIds.indexOf(preschoolId);

          utils.loadingOn();

          client.api.smartContract.invoke(showPreschoolNamesObj)
            .then(function(res) {
              utils.loadingOff();
              console.log('showPreschoolNamesObj');
              console.log(res);

              _.each(res.result[0], function(item) {
                preschoolNames.push(utils.hexToString(item));
              });

              var preschoolName = preschoolNames[preschoolIdIndex];

              $('#js-preschool-name').text('').text(preschoolName);

              utils.render(childmindersByPreschoolId, '#js-childminder-template', '#js-childminders');
              utils.loadingOff();
            });
        });
    })();
  </script>
</body>
</html>
